<!-- bootstrap -->
<link type="text/css" rel="stylesheet" href="asset/css/bootstrap/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="asset/css/bootstrap/bootstrap-overrides.css"/>

<!-- libraries -->
<link type="text/css" rel="stylesheet" href="asset/css/lib/jquery-ui-1.10.2.custom.css"/>
<link type="text/css" rel="stylesheet" href="asset/css/lib/font-awesome.css"/>

<!-- global styles -->
<link type="text/css" rel="stylesheet" href="asset/css/compiled/layout.css">
<link type="text/css" rel="stylesheet" href="asset/css/compiled/elements.css">
<link type="text/css" rel="stylesheet" href="asset/css/compiled/icons.css">

<!-- this page specific styles -->
<link type="text/css" rel="stylesheet" href="asset/css/compiled/index.css" media="screen" />

<!--&lt;!&ndash; open sans font &ndash;&gt;-->
<!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>-->

<!--&lt;!&ndash; lato font &ndash;&gt;-->
<!--<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>-->

<!--&lt;!&ndash;[if lt IE 9]>-->
<!--<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->
<!--<![endif]&ndash;&gt;-->


